---
import Layout from "../../../layouts/Layout.astro";
import { useTranslations } from "../../../i18n/utils";

const hotel = Astro.locals.hotel;
const lang = Astro.locals.lang;

const t = useTranslations(lang);
---
<p>index</p>
<Layout title={hotel}>
  <h1>{hotel}</h1>
  <h1>{t("home.title")}</h1>
</Layout>
